<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet/less" type="text/css" href="table.less">
</head>

<body>
    <!-- <button type="button" class="refresh" onclick="refreshPage()">Refresh</button> -->
    <div class="vue-container">
        <div class="table">
            <div class="card-place">
                <card v-for="(card, index) in five_cards" :card="card"></card>
            </div>
            <div class="players">
                <div v-for="(value, index) in players" class="player"
                    :class="['player-' + (index + 1), {'playing': player_playing === index}]">
                    <div class="stack">
                        <div class="stack-value">{{ value.stack - value.onTable }}</div>
                        <div class="chips v-10" v-if="(value.stack - value.onTable) >= 10"></div>
                        <div class="chips v-2"
                            v-if="(value.stack - value.onTable) >= 2 && (value.stack - value.onTable) != 10 && (value.stack - value.onTable) != 11">
                        </div>
                        <div class="chips v-1"
                            v-if="(value.stack - value.onTable) >= 1 && (value.stack - value.onTable) != 2 && (value.stack - value.onTable) != 10 && (value.stack - value.onTable) != 12">
                        </div>
                    </div>
                    <div class="avatar" :style="{backgroundColor: value.color || 'dodgerblue'}">
                        {{value.name}}</div>
                    <div class="hand" v-if="value.hasCards">
                        <card v-for="(card, index) in value.cards" :card="card"></card>
                    </div>
                    <div class='dealer' v-if="index === dealer">D</div>
                    <div class="bet">
                        <div class="bet-value">
                            {{ value.onTable }}
                        </div>
                        <div class="chip-10">
                            <div class="chips v-10" v-for="(n, i) in (value.onTable / 10 | 0)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="value.onTable >= 10"></div>
                        </div>
                        <div class="chip-2">
                            <div class="chips v-2" v-for="(n, i) in ((value.onTable % 10) / 2 | 0)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="value.onTable % 10 >= 2">
                            </div>
                        </div>
                        <div class="chip-1">
                            <div class="chips v-1" style="top: -2px;" v-if="value.onTable % 2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <script src="table.js"></script>
</body>

</html>